<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_Baseline">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
                        requireSecurityContextCancellation="false" requireSignatureConfirmation="false"
                        canRenewSecurityContextToken="false">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="IssuedToken" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
                            requireSignatureConfirmation="false">
                            <issuedTokenParameters>
                                <additionalRequestParameters>
                                    <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                        <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                                        <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity"
                                            xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                            <wsid:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
                                                xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                            <wsid:ClaimType Uri="http://sdl.com/trisoft/2012/06/ClaimTypes/ApplicationName"
                                                xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                            <wsid:ClaimType Uri="http://sdl.com/trisoft/2012/06/ClaimTypes/FISHEXTERNALID"
                                                xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                        </trust:Claims>
                                    </trust:SecondaryParameters>
                                </additionalRequestParameters>
                                <issuer address="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/username"
                                    binding="ws2007HttpBinding" bindingConfiguration="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/username" />
                                <issuerMetadata address="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mex" />
                            </issuedTokenParameters>
                            <!--<alternativeIssuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/windows" bindingConfiguration="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/windows" binding="ws2007HttpBinding" />
  </issuedTokenParameters>
</alternativeIssuedTokenParameters>-->
                            <localClientSettings detectReplays="true" />
                            <localServiceSettings detectReplays="true" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_Baseline1">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
                        requireSecurityContextCancellation="false" canRenewSecurityContextToken="false">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="false"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
                            <issuedTokenParameters>
                                <additionalRequestParameters>
                                    <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                        <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                                        <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity"
                                            xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                            <wsid:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
                                                xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                            <wsid:ClaimType Uri="http://sdl.com/trisoft/2012/06/ClaimTypes/ApplicationName"
                                                xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                            <wsid:ClaimType Uri="http://sdl.com/trisoft/2012/06/ClaimTypes/FISHEXTERNALID"
                                                xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                                        </trust:Claims>
                                    </trust:SecondaryParameters>
                                </additionalRequestParameters>
                                <issuer address="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/username"
                                    binding="ws2007HttpBinding" bindingConfiguration="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/username" />
                                <issuerMetadata address="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mex" />
                            </issuedTokenParameters>
                            <!--<alternativeIssuedTokenParameters>
  <issuedTokenParameters>
    <issuer address="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/windows" bindingConfiguration="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/windows" binding="ws2007HttpBinding" />
  </issuedTokenParameters>
</alternativeIssuedTokenParameters>-->
                            <localClientSettings detectReplays="false" />
                            <localServiceSettings detectReplays="false" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <textMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <ws2007HttpBinding>
                <binding name="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/username">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="https://medevddemeyer10.global.sdl.corp/ISHSTSSDLDOC/issue/wstrust/mixed/windows">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://medevddemeyer10.global.sdl.corp/ISHWSSDLDOC/Wcf/API25/Baseline.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_Baseline"
                contract="Baseline25ServiceReference.Baseline" name="CustomBinding_Baseline" />
            <endpoint address="https://medevddemeyer10.global.sdl.corp/ISHWSSDLDOC/Wcf/API25/Baseline.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_Baseline1"
                contract="Baseline25ServiceReference.Baseline" name="CustomBinding_Baseline1" />
        </client>
    </system.serviceModel>
</configuration>