{
  "openapi": "3.0.1",
  "info": {
    "title": "InfoShare API v3.0",
    "contact": {
      "name": "RWS Support",
      "url": "https://gateway.sdl.com/"
    },
    "version": "v3.0"
  },
  "servers": [
    {
      "url": "https://mecdev12qa01.global.sdl.corp/ISHWSORA19/api"
    }
  ],
  "paths": {
    "/Application/Version": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Gets the version of the application server.",
        "operationId": "GetApplicationVersion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Baselines/Get": {
      "post": {
        "tags": [
          "Baselines"
        ],
        "summary": "Gets all baselines in the repository that match the criteria given in the parameters.",
        "operationId": "GetBaselineList",
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBaselineList"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBaselineList"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetBaselineList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Baseline"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Baseline"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLogicalId/Get": {
      "post": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Gets all document objects in the Repository that match the criteria given in the parameters.",
        "description": "Depending on which status filter is specified, the objects with following status types can be returned:\r\n<table class=\"table\"><thead><tr><th>Status filter</th><th>Returned status types</th></tr></thead><tbody><tr><td>All</td><td>All status types</td></tr><tr><td>LatestReleased</td><td>Latest released excluding out-of-date</td></tr><tr><td>DraftOrLatestReleased</td><td>Draft and latest released excluding out-of-date</td></tr><tr><td>AllReleased</td><td>All released including out-of-date</td></tr></tbody></table>",
        "operationId": "GetDocumentObjectListByLogicalId",
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectListByLogicalId"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectListByLogicalId"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectListByLogicalId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentObject"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/Get": {
      "post": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Gets all document objects in the Repository that match the criteria given in the parameters.",
        "description": "Depending on which status filter is specified, the objects with following status types can be returned:\r\n<table class=\"table\"><thead><tr><th>Status filter</th><th>Returned status types</th></tr></thead><tbody><tr><td>All</td><td>All status types</td></tr><tr><td>LatestReleased</td><td>Latest released excluding out-of-date</td></tr><tr><td>DraftOrLatestReleased</td><td>Draft and latest released excluding out-of-date</td></tr><tr><td>AllReleased</td><td>All released including out-of-date</td></tr></tbody></table>",
        "operationId": "GetDocumentObjectList",
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectList"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectList"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentObject"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/Get": {
      "post": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Gets all document objects in the Repository that match the criteria given in the parameters.",
        "description": "Depending on which status filter is specified, the objects with following status types can be returned:\r\n<table class=\"table\"><thead><tr><th>Status filter</th><th>Returned status types</th></tr></thead><tbody><tr><td>All</td><td>All status types</td></tr><tr><td>LatestReleased</td><td>Latest released excluding out-of-date</td></tr><tr><td>DraftOrLatestReleased</td><td>Draft and latest released excluding out-of-date</td></tr><tr><td>AllReleased</td><td>All released including out-of-date</td></tr></tbody></table>",
        "operationId": "GetDocumentObjectListByLanguageCardId",
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectListByLanguageCardId"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectListByLanguageCardId"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentObjectListByLanguageCardId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentObject"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLogicalId/{logicalId}": {
      "get": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Gets the document object by combination of it logical identifier, version and language.",
        "operationId": "GetDocumentObjectByLogicalId",
        "parameters": [
          {
            "name": "logicalId",
            "in": "path",
            "description": "Logical identifier of the document object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version of the document object.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of a document object.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The resolution of an illustration.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedProperties",
            "in": "query",
            "description": "Specifies the properties that will be returned. If not supplied, only the identifier will be returned.",
            "schema": {
              "$ref": "#/components/schemas/SelectedProperties"
            }
          },
          {
            "name": "fieldGroup",
            "in": "query",
            "description": "Group of metadata fields that will be returned. If not supplied, no fields will be returned.",
            "schema": {
              "$ref": "#/components/schemas/FieldGroup"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Specifies one or more metadata fields to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "<tt>true</tt> to include the links; otherwise, <tt>false</tt>. Default is <tt>false</tt>.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Updates the document object by its logical identifier.",
        "operationId": "UpdateDocumentObjectByLogicalId",
        "parameters": [
          {
            "name": "logicalId",
            "in": "path",
            "description": "Logical id of the document object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "The version of the document to update.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the document to update.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The resolution of the document to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentObject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentObject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Deletes a document object by its logical identifier.",
        "operationId": "DeleteDocumentObjectByLogicalId",
        "parameters": [
          {
            "name": "logicalId",
            "in": "path",
            "description": "Logical identifier of the document object to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "The version of the document to delete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the document to delete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The resolution of the document to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters that will be used for delete operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDocumentObjectByLogicalId"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDocumentObjectByLogicalId"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDocumentObjectByLogicalId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/{languageCardId}": {
      "get": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Gets the document object by its language card identifier.",
        "operationId": "GetDocumentObjectByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "selectedProperties",
            "in": "query",
            "description": "Specifies the properties that will be returned. If not supplied, only the identifier will be returned.",
            "schema": {
              "$ref": "#/components/schemas/SelectedProperties"
            }
          },
          {
            "name": "fieldGroup",
            "in": "query",
            "description": "Group of metadata fields that will be returned. If not supplied, no fields will be returned.",
            "schema": {
              "$ref": "#/components/schemas/FieldGroup"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Specifies one or more metadata fields to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "<tt>true</tt> to include the links; otherwise, <tt>false</tt>. Default is <tt>false</tt>.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Updates the document object by its language card identifier.",
        "operationId": "UpdateDocumentObjectByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentObject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentObject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Deletes a document object by its language card identifier.",
        "operationId": "DeleteDocumentObjectByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The parameters that will be used for delete operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDocumentObjectByLanguageCardId"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDocumentObjectByLanguageCardId"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDocumentObjectByLanguageCardId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/{languageCardId}/Content": {
      "get": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Gets the content by its language card identifier.",
        "operationId": "GetDocumentObjectContentByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Updates the document object content by its language card identifier.",
        "operationId": "UpdateDocumentObjectContentByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "format": "binary"
                  },
                  "metadata": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/UpdateDocumentObjectContent"
                      }
                    ],
                    "nullable": true
                  }
                }
              },
              "encoding": {
                "content": {
                  "style": "form"
                },
                "metadata": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/{languageCardId}/PossibleTargetStatuses": {
      "get": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Getting status (transition) list by language card identifier.",
        "operationId": "GetDocumentObjectPossibleTargetStatusListByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LovValue"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LovValue"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/PossibleTargetStatuses": {
      "get": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Getting status (initial) list by document object type.",
        "operationId": "GetDocumentObjectPossibleTargetStatusList",
        "parameters": [
          {
            "name": "objectType",
            "in": "query",
            "description": "Type of the document.",
            "schema": {
              "$ref": "#/components/schemas/DocumentObjectTypeFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LovValue"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LovValue"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/{languageCardId}/Content/CheckOut": {
      "post": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Check out the document object by its language card identifier.",
        "operationId": "CheckOutDocumentObjectByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckOutDocumentObject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckOutDocumentObject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckOutDocumentObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/{languageCardId}/Content/CheckIn": {
      "post": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Checks in the document object by its language card identifier.",
        "operationId": "CheckInDocumentObjectByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "format": "binary"
                  },
                  "metadata": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CheckInDocumentObject"
                      }
                    ],
                    "nullable": true
                  }
                }
              },
              "encoding": {
                "content": {
                  "style": "form"
                },
                "metadata": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/DocumentObjects/ByLanguageCardId/{languageCardId}/Content/UndoCheckout": {
      "post": {
        "tags": [
          "DocumentObjects"
        ],
        "summary": "Undo checkout of the document object by its language card identifier.",
        "operationId": "UndoCheckoutDocumentObjectByLanguageCardId",
        "parameters": [
          {
            "name": "languageCardId",
            "in": "path",
            "description": "Language card identifier of the document object.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Required current metadata of the object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UndoCheckoutDocumentObject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UndoCheckoutDocumentObject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UndoCheckoutDocumentObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/RootFolders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets the root folders of types like Data, System, Favorites.",
        "operationId": "GetRootFolderList",
        "parameters": [
          {
            "name": "selectedProperties",
            "in": "query",
            "description": "Selected properties to filter the properties. Default is Id.",
            "schema": {
              "$ref": "#/components/schemas/SelectedProperties"
            }
          },
          {
            "name": "fieldGroup",
            "in": "query",
            "description": "Field group of Metadata fields. Default is None.",
            "schema": {
              "$ref": "#/components/schemas/FieldGroup"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Specifies one or more metadata fields to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "{true} to include the links; otherwise, {false}. Default is {false}.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/{id}/Objects": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets the objects in the folder specified by id.",
        "description": "Depending on which object type is specified, the following types can be returned:\r\n<table class=\"table\"><thead><tr><th>Object type</th><th>Returned types</th></tr></thead><tbody><tr><td>Any</td><td>Folders and contents</td></tr><tr><td>Folders</td><td>Folder, ReferenceFolder, PublicationFolder, MapFolder, TopicFolder, LibraryFolder, IllustrationFolder and OtherFolder</td></tr><tr><td>Contents</td><td>Publication, Map, Topic, Library, Illustration and Other</td></tr></tbody></table>",
        "operationId": "GetFolderObjectList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Card identifier of the folder whose objects will be returned, e.g. 25432.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectType",
            "in": "query",
            "description": "Specifies whether folders, contents or both will be returned. If not supplied, all types will be returned.",
            "schema": {
              "$ref": "#/components/schemas/FolderObjectTypeFilter"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language for which to retrieve document metadata fields, e.g. <tt>VLANGUAGEEN</tt>, <tt>en</tt>. If not supplied, the user language will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The resolution for which to retrieve image metadata fields, e.g. <tt>VRESLOW</tt>, <tt>Low</tt>. If not supplied, the system resolution will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedProperties",
            "in": "query",
            "description": "Specifies the properties that will be returned. If not supplied, only the identifier will be returned.",
            "schema": {
              "$ref": "#/components/schemas/SelectedProperties"
            }
          },
          {
            "name": "fieldGroup",
            "in": "query",
            "description": "Group of metadata fields that will be returned. If not supplied, no fields will be returned.",
            "schema": {
              "$ref": "#/components/schemas/FieldGroup"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Specifies one or more metadata fields to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "<tt>true</tt> to include the links; otherwise, <tt>false</tt>. Default is <tt>false</tt>.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePartialItems",
            "in": "query",
            "description": "<tt>true</tt> to include partial items when the version or language is missing; otherwise, <tt>false</tt>. Default is <tt>false</tt>.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseObject"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/{id}": {
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Deletes a folder.",
        "operationId": "DeleteFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets the properties of the given folder.",
        "operationId": "GetFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the folder.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "selectedProperties",
            "in": "query",
            "description": "Specifies which properties to return.",
            "schema": {
              "$ref": "#/components/schemas/SelectedProperties"
            }
          },
          {
            "name": "fieldGroup",
            "in": "query",
            "description": "Specifies the group of metadata fields to return.",
            "schema": {
              "$ref": "#/components/schemas/FieldGroup"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Specifies one or more metadata fields to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "{true} to include the links; otherwise, {false}. Default is {false}.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Updates the folder specified by id.",
        "operationId": "UpdateFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of folder.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The update folder model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolder"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolder"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Creates the new folder in the specified parent folder.",
        "operationId": "CreateFolder",
        "requestBody": {
          "description": "The create folder model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolder"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolder"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderDescriptor"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderDescriptor"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/Get": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets all folders in the Repository that match the criteria given in the parameters.",
        "operationId": "GetFolderList",
        "requestBody": {
          "description": "Request folders with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFolderList"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFolderList"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetFolderList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/Move": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Moves folder. NOT IMPLEMENTED.",
        "operationId": "MoveFolder",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Moves objects. NOT IMPLEMENTED.",
        "operationId": "MoveObjectToFolder",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/{id}/Shortcuts/{logicalId}": {
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Adds shortcut for folder. NOT IMPLEMENTED.",
        "operationId": "AddShortcutToFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "logicalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/{id}/Shortcuts": {
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Deletes a shortcut for folder. NOT IMPLEMENTED.",
        "operationId": "RemoveShortcutFromFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Folders/{id}/Location": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets the parents of the given folder.",
        "operationId": "GetFolderLocation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the folder.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "selectedProperties",
            "in": "query",
            "description": "Specifies which properties to return.",
            "schema": {
              "$ref": "#/components/schemas/SelectedProperties"
            }
          },
          {
            "name": "fieldGroup",
            "in": "query",
            "description": "Specifies the group of metadata fields to return.",
            "schema": {
              "$ref": "#/components/schemas/FieldGroup"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Specifies one or more metadata fields to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "description": "{true} to include the links; otherwise, {false}. Default is {false}.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Lists/{id}/Values": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get the values for the specified list of values.",
        "operationId": "GetLovValueList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of a list of values (e.g. DRESOLUTION).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activityFilter",
            "in": "query",
            "description": "The filter to limit the result of the active LovValues.",
            "schema": {
              "$ref": "#/components/schemas/ActivityFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LovValue"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LovValue"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a lov value in the specified list of value.",
        "operationId": "CreateLovValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The list of values identifier (e.g. DRESOLUTION).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request object with the criteria in its properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLovValue"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLovValue"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLovValue"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LovValue"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LovValue"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Lists/{id}/Values/{valueId}": {
      "put": {
        "tags": [
          "Lists"
        ],
        "summary": "Update Lov value based on the specified parameters.",
        "operationId": "UpdateLovValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The list of values identifier (e.g. DRESOLUTION).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueId",
            "in": "path",
            "description": "The lov value identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update Lov value model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLovValue"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLovValue"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLovValue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoShareProblemDetails"
                }
              },
[...]
